@model LaserExpertise.DAL.Models.User.LoginModel
@{
    ViewBag.Title = "Войти";
}
<h2>Войти</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">

        <div class="col s6">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="row">
        <div class="col s6">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })

            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="row">
        <div class="col s2">
            <input type="submit" value="Войти" class="btn btn-default grey" />

        </div>
    </div>
}